---
layout: base
title: Documentation
description: Troubleshooting, resources, and videos

system_description:
  - title: About Home Assistant Green
    url: /documentation/about_home-assistant_green/
  - title: Interfaces
    url: /documentation/interfaces/
  - title: Home Assistant Green LEDs
    url: /documentation/green-leds/
operation:
  - title: Shutting down the device
    url: /guides/shutdown
  - title: Starting up the device
    url: /guides/start_up_after_power_off
data:
  - title: Creating a backup
    url: /guides/create-backup
  - title: Restoring/migrating from a backup
    url: /guides/restore-backup
troubleshooting:
  - title: Resetting the device
    url: /guides/reset
  - title: Resetting the device using an SD card
    url: /guides/reset_with_sd_card
  - title: Using the console on the HDMI display
    url: /guides/use-terminal
---

<div class="container">
  <h1>System description</h1>
  <div class="layout horizontal items">
    {% for guide in system_description %}
    <a href="{{guide.url}}">
      <div class="layout vertical center">{{guide.title}}</div>
    </a>
    {% endfor %}
  </div>
  <h1>Operation</h1>
  <div class="layout horizontal items">
    {% for guide in operation %}
    <a href="{{guide.url}}">
      <div class="layout vertical center">{{guide.title}}</div>
    </a>
    {% endfor %}
  </div>
  <h2>Handling data</h2>
  <div class="layout horizontal items">
    {% for guide in data %}
    <a href="{{guide.url}}">
      <div class="layout vertical center">{{guide.title}}</div>
    </a>
    {% endfor %}
  </div>
  <h2>Troubleshooting</h2>
  <div class="layout horizontal items">
    {% for guide in troubleshooting %}
    <a href="{{guide.url}}">
      <div class="layout vertical center">{{guide.title}}</div>
    </a>
    {% endfor %}
  </div>
  <h1>Resources</h1>
  <div class="layout horizontal items">
    <a href="/resources">
      <div class="layout vertical center">
        <div style="padding: 45px 45px 16px 45px">
          <img src="/images/icons/download-file.png" width="150" />
        </div>
        <h3>Downloads</h3>
      </div>
    </a>
    <a href="/videos">
      <div class="layout vertical center">
        <div style="padding: 45px 45px 16px 45px">
          <img src="/images/icons/online-video.png" width="150" />
        </div>
        <h3>Videos</h3>
      </div>
    </a>
  </div>
</div>
