---
layout: base
title: FAQ
description: FAQ | Green
sections:
  - name: General
    faqs:
      - title: >
          I can’t access the system via http://homeassistant.local:8123, what can I do?
        content: >      
          <p>
            <ol>
              <li>If <a href="http://homeassistant.local:8123" target="_blank">http://homeassistant.local:8123</a> doesn't work, try <a href="http://homeassistant:8123" target="_blank">http://homeassistant:8123</a>.
                If that does not help, you may be able to find the IP address of Home
                Assistant Green on your router. The URL will be <code>http://&lt;IP ADDRESS>:8123</code></li>
              <li>Check if the Home Assistant Green is plugged in and the yellow LED blinks in a heartbeat pattern. For more information on the LED patterns, see <a href="/documentation/green-leds/" >Home Assistant Green LEDs</a>.
                <div style="padding: 8px 0px 0px 0px">
                  <img src="/images/green_yellow_led_heartbeat.webp" width="450" />
                </div></li>
              <li>Check if the LED on the Ethernet port is active. If it is not active, try the following:
                <ul>
                  <li>Try using a different port on your router.</li>
                  <li>Try using a different Ethernet cable.</li>
                </ul>
              </li>
            </ol>
          </p>
      - title: >
          Why is there an optional CR2032 battery? Do I need to add one?
        content: >      
          <p>
            <ul>
              <li>The battery serves as a backup power supply for the real-time clock.</li>
              <li>You need to install a battery only if you are planning to boot the Home Assistant Green in an environment where there is no internet connection for an extended period of time. Then the clock cannot synchronize.</li>
              <li>When installing the CR2032 battery, make sure the positive side is facing upwards. You should see the plus sign on top.</li>
            </ul>
          </p>
      - title: >
          I forgot the owner password for the Home Assistant Green. How can I reset it?
        content: >      
          <p>
            <ol>
              <li>If you forgot the owner's password, you need to connect an external monitor and keyboard to Home Assistant Green and reset the password via terminal. To do this, follow the steps on <a href="/guides/use-terminal/" target="_blank">Using the console on the HDMI display</a>.</li>
              <li>To reset the password, enter <code>auth reset --username existing_user --password new_password</code>.</li>
              <li><b>Note</b>: <code>existing_user</code> and <code>new_password</code> are placeholders. Replace them with your username and desired password.
                <div style="padding: 8px 0px 0px 0px">
                  <img src="/images/home-assistant-cli.webp" />
                </div></li></li>
            </ol>
          </p>
  - name: Connectivity
    faqs:
      - title: >
          Does Home Assistant Green have Zigbee, Thread, Wi-Fi, or Bluetooth?
        content: >      
          <p>
            <ul>
              <li>No. Home Assistant Green does not have any onboard radios.</li>
              <li>For Zigbee or Thread, you can use a <a href="https://www.home-assistant.io/connectzbt1" >Home Assistant Connect ZBT-1</a>.</li>
              <li>For Bluetooth, you can use <a href="https://esphome.io/projects/?type=bluetooth" >
                an ESPHome as a Bluetooth proxy</a> or add a USB dongle and use <a href="https://www.home-assistant.io/integrations/bluetooth/" >
                  local Bluetooth support</a>.</li>
            </ul>
          </p>
      - title: >
          Can I connect a Wi-Fi dongle?
        content: >      
          <p>
            <ul>
              <li>It is not recommended to use Home Assistant Green with a Wi-Fi dongle.</li>
              <li>The controller of your smart home should have a reliable, stable wired connection at all times.</li>
            </ul>
          </p>
      - title: >
          Can I connect a Z-Wave or Zigbee USB dongle?
        content: >      
          <p>
            <ul>
              <li>Yes, you can connect both a Z-Wave and a Zigbee stick via USB. For Zigbee, you could use a <a href="https://www.home-assistant.io/connectzbt1" >Home Assistant Connect ZBT-1</a>.</li>
            </ul>
          </p>
  - name: Power supply
    faqs:
      - title: >
          I lost the original power supply. What type do I need to get?
        content: >      
          <p>
            <ul>
              <li>Home Assistant Green ships with a 12 V DC, 1 A, center-positive power supply.</li>
            </ul>
          </p>
      
---
  <div class="container">
    {% for section in sections %}
      <div class="section">
        <h2>{{section.name}}</h2>      
        <div class="accordion">
          {% for faq in section.faqs %}
          <div class="accordion-item">
            <button
              aria-expanded="false"
              id="{{ faq.title | slugify }}"
            >
              <a
                href="#{{ faq.title | slugify }}"
                class="anchor"
              >
                <span class="accordion-title">{{faq.title}}</span
                ><span class="icon" aria-hidden="true"></span>
              </a>
            </button>
            <div class="accordion-content">
              <p>{{faq.content}}</p>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
      {% endfor %}
  </div>
<script>
  const items = document.querySelectorAll(".section .accordion button");

  function toggleAccordion() {
    const itemToggle = this.getAttribute("aria-expanded");

    for (i = 0; i < items.length; i++) {
      items[i].setAttribute("aria-expanded", "false");
    }

    if (itemToggle == "false") {
      this.setAttribute("aria-expanded", "true");
    }
  }

  items.forEach((item) => item.addEventListener("click", toggleAccordion));

  const urlParts = document.URL.split('#');
  const anchor = (urlParts.length > 1) ? urlParts[1] : null;
  let openedItem = false;
  for (i = 0; i < items.length; i++) {
    const id = items[i].getAttribute("id");
    if (id == anchor) {
      items[i].setAttribute("aria-expanded", "true");
      openedItem = true;
    }
  }
  if (!openedItem) {
    items[0].setAttribute("aria-expanded", "true");
  }
</script>
